
@mixin background_ {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
@mixin text{
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem 3rem;
    border-radius: 5px;
    cursor: pointer;
}
.contentmenu{

}
.content__category{
    &--list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &--item:first-child{
        background: url(/src//img//menu1.jpg);
        @include background_;
       
        
    }
    &--item:nth-child(2){
        background: url(/src//img//menu-FREEZE.jpg);
        @include background_;
        flex-direction: row;
        text-align: right;
       
    }
    &--item:nth-child(3){
        background: url(/src//img//Product_Tra_BG_Web_Banner.jpg);
        @include background_;
    }
    &--image{
        img{
            width: 400px;
            margin-left: auto;
        }
    }
    
    &--child-nth1{
        color: $color-yellow;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.6;
        max-width: 500px;
        h2{
            font-size: 2.5rem !important;
            text-transform: uppercase;
            cursor: pointer;
            &:hover{
                color: $color-text__yellow;
            }
        }
        p{
            font-size: 0.9rem;
            margin: 1rem 0 2rem 0;
        }
        a{
            color: $color-text__yellow;
            border: .1rem solid $color-text__yellow;
            @include text;
            &:hover{
                color: $color-text__yellow;
                background-color: $color-sepia;
                border-color: $color-sepia;
            }
        }
    }
    &--child-nth2{
        color: $color-text-green;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.6;
        max-width: 500px;
        h2{
            font-size: 2.5rem !important;
            text-transform: uppercase;
            cursor: pointer;
            &:hover{
                color: $color-sepia;
            }
        }
        p{
            font-size: 0.9rem;
            margin: 1rem 0 2rem 0;
        }
        a{
            color: $color-text-green;
            border: .1rem solid $color-text-green;
            @include text;
            &:hover{
                color: $color-white;
                background-color: $color-sepia;
                border-color: $color-sepia;
            }
        }
    }
    &--child-nth3{
        color: $color-text__yellow;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.6;
        max-width: 500px;
        h2{
            font-size: 2.5rem !important;
            text-transform: uppercase;
            cursor: pointer;
            &:hover{
                color: $color-danger;
            }
        }
        p{
            font-size: 0.9rem;
            margin: 1rem 0 2rem 0;
        }
        a{
            color: $color-text__yellow;
            border: .1rem solid $color-text__yellow;
            @include text;
            &:hover{
                color: $color-text__yellow;
                background-color: $color-sepia;
                border-color: $color-sepia;
            }
        }
    }
}
