
@mixin background_ {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
@mixin text{
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem 3rem;
    border: .1rem solid $color-text__yellow;
    border-radius: 5px;
    cursor: pointer;
}
.contentmenu{

}
.content__category{
    &--list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &--item:first-child{
        background: url(/src//img//menu1.jpg);
        @include background_;
    }
    &--item:nth-child(2){
        background: url(/src//img//menu-FREEZE.jpg);
        @include background_;
        flex-direction: row;
    }
    &--item:last-child{
        background: url(/src//img//Product_Tra_BG_Web_Banner.jpg);
        @include background_;
    }
    &--image{
        img{
            width: 400px;
            margin-left: auto;
        }
    }
    &--caption:first-child{
        color: $color-text__yellow;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.6;
        max-width: 500px;
        h2{
            font-size: 2.5rem !important;
        }
        p{
            font-size: 0.9rem;
            margin: 1rem 0 2rem 0;
        }
        a{
            color: $color-text__yellow;
            @include text;
        }
    }
    &--caption:nth-child(2){
        color: $color-text-green ;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.6;
        max-width: 500px;
        h2{
            font-size: 2.5rem;
        }
        p{
            font-size: 0.9rem;
            margin: 1rem 0 2rem 0;
        }
        a{
            @include text;
            color: $color-text-green ;
            border: .1rem solid $color-text-green ;
        }
    }
    &--caption:last-child{
        color: $color-white;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.6;
        max-width: 500px;
        h2{
            font-size: 2.5rem !important;
        }
        p{
            font-size: 0.9rem;
            margin: 1rem 0 2rem 0;
        }
        a{
            @include text;
            color: $color-white;
            border: .1rem solid $color-white;
            &:hover{
                background-color: $color-sepia;
                color: $color-white;
                border: .1rem solid $color-danger;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
        }
    }
}

