.header{
    padding: 1rem 0;
    border-top: .5rem solid $color-brown;
    background-color: $color-danger;
    &__container{
        max-width: 1000px !important;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        a{
            img{
                max-width: 100px;
                object-fit: cover;
            }
        }
    }
    &__menu{
        &--top{
            display: flex;
            align-items: center;
            gap: 1rem;
            justify-content: right;
            margin-bottom: 2rem;
            &-input{
                position: relative;
                input{
                    all: unset;
                    background-color: $color-white;
                    width: 250px;
                    height: 30px;
                    padding-left: 1rem;
                    font-size: .8rem;
                    font-style: italic;
                    
                }
                .icon{
                    position: absolute;
                    top: 7px;
                    left: 90%;
                }
            }
            &-language{
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
        &--bottom{
           &-NAV{
            
           }
        }
    }
}
.menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu-item >a{
    color: $color-white;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.7;
    padding: 1.2rem 1rem 1.2rem 1rem;

}
.menu-item >a:hover,.active:hover{
    background-color: $color-dark__brown;
}
.menu a.active{
    background-color: $color-dark__brown;

}
.dropdown{

}
.menu-item:nth-child(2):hover .menuMega,.menu-item:nth-child(5):hover .menuMega{
    display: block;
}
.menuMega{
    position: absolute;
    left: 0;
    right: 0;
    top: 16.8%;
    background: #53382c;
    padding: 15px 0;
    display: none;
    z-index: 1000;
}
.menuMega > .container{
    max-width: 1000px !important;
}
.dropdown{
    display: flex;
    justify-content: space-between;
}
.col1{
    flex: 0 1 70%;
}
.col2{
    flex: 0 1 30%;
    margin-left: 3rem;
}
.dropdown >li >a{
    color: $color-yellow;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    &:hover{
        color: $color-white;
    }

}
.row{
    display: flex;
}
.menu2 li{
    margin: 1rem 0;
    text-align: center;
}
.menu2 li a{
    color: $color-white;
    font-size: 0.7rem;
    animation: move 3s ease-in;
}
.menu2 li a:hover{
    color: $color-yellow;
}
.menu-dropdown{
    text-align: center;
}


.bannerMenu{
    padding: 15px 15px;
    background: url(/src//img//bgmenu.jpg) no-repeat center center;
    background-size: cover;
    width: 50%;
    &__txt{
        margin-bottom: 25px;
        a{
            font-size: 1.6rem;
            display: block;
            font-weight: bold;
            color: #f1bc7a;
            font-family: 'fontkhachhang';
            font-weight: normal !important;
            padding-right: 20%;
            font-weight: 800 !important;
            &:hover{
                color: $color-white;
            }
        }
    }
    &__img{
        // width: 70%;
    }
}
.menu-item:nth-child(5){

}
.about1 >.dropdown {
    width: 90%;
}
.about2{
    
}

.bannerMenu__image{
    img{
        width: 100%;
    }
}
@keyframes move{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(0px);
    }
}
.show-links {
    height: 0rem;
  }
.nav-toggle {
    font-size: 1.5rem;
    color: $color-white;
    background: $color-danger;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .nav-toggle:hover {
    transform: rotate(90deg);
  }
  .nav-toggle {
    display: none;
  }


  @media screen and (max-width: 1023.98px) {
    html{
        font-size: 55%;
    }
    .header__menu--bottom{
        display: none;
    }
    .nav-toggle {
        display: block;
        font-size: 3rem;
    }
    .header__menu--top-input{
        display: none;
    }
    .menu-item{
        
        
    }
    .menu{
        flex-direction: column;
    }
    .mainbot{
        &__row{
            flex-direction: column;
        }
        &__left{
            &--text-title{
                text-align: left !important;
                font-size: 5rem !important;
            }
            &--text-content{
                font-size: 2.5rem !important;
                font-weight: 600 !important;
            }
        }
        &__right{
            &--heading{
                max-width: 800px !important;
                &-title{
                    h1{
                        font-size: 3rem !important;
                    }
                }
                &-see{
                    a,i{
                        font-size: 2.5rem !important;
                        font-weight: 600;
                    }
                }
            }
            &--item{
                gap: 2rem !important;
            }
            &--img{
                img{
                    width: 120px !important;
                    height: auto !important;
                }
            }
            &--text{
                &-title{
                    h1{
                        font-size: 2rem !important;
                    }
                }
                &-date{
                    margin-top: 2rem !important;
                    font-size: 2.5rem !important;
                    font-weight: 600;
                }
            }
            &--input{
                input{
                    font-size: 3rem !important;
                    height: 50px !important;
                    width: 550px !important;
                }
            }
            &--btn{
                padding: 1.3rem 3rem !important;
                a,i{
                    font-size: 3rem !important;
                }
            }
        }
    }
    .footer__container{
        flex-direction: column;
        align-items: center;
        font-size: 2.5rem !important;
    }
    .footer{
        padding: 5rem 0 !important;
        line-height: 1.6 !important;
        &__linkFooter{
            span,i{
                font-size: 2.5rem !important;
            }
        }
    }
  }
  