$color-white: #fff;
$color-dard:#000;
$color-danger:#b22830;
$color-dark__brown:#53382c;
$color-sepia:#882106;
$color-brown:#53382c;
$color-yellow:#f1bc7a;
$color-text__yellow: #faebd7;
$color-text-green:#006400;
$color-text-cam:#8e5a2d;
$color-text-grey-hsla: hsla(0,0%,40%,.85);
$color-red__3b:#a7383b;
$color-yellow-text:#BC9559;