.conatainer__workBanner{
    max-width: 1200px;
    margin: 0 auto !important;
    padding: 0 15px;
}
.work__banner{
    background: url(/src/img/work1.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    &--text{
    //    position: absolute;
    //    top: 10%;
    //    left: 10%;
    //    transform: translateY(-50%);
        height: 400px;
       max-width: 500px;
       padding: 10rem 3rem;
        h1{
            color: $color-white;
            font-weight: 600;
            line-height: 1.6;
            font-size: 2.473rem;
        }
    }
}
.work__content{
    // position: relative;
    margin-top: 5rem;
    &--row {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    &--title{
        max-width: 500px;
        h1{
            color: $color-sepia;
            font-weight: 600;
            line-height: 1.6;
            font-size: 2rem;

        }
    }
    &--desc{
        max-width: 600px;
        p{
            color: $color-brown;
            font-weight: 600;
            line-height: 1.6;
            font-size: 1.1rem;
        }
    }
    &--img{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
}

.work__list{
  --f-columns: 4;
  --f-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--f-gap));
  margin-bottom: calc(-1 * var(--f-gap));
}
.work__item{
  margin-left: var(--f-gap);
  margin-bottom: var(--f-gap);
  width: calc((100% / var(--f-columns) - var(--f-gap)));
  pointer-events: none;
}

.work__welfare{
    margin: 5rem 0;
    &--banner{
        background-color: rgb(221, 133, 79);
        padding: 2rem 2rem;
    }
    &--item{
        img{
            width: 50px;
            margin: 0 auto;
        }
        h1{
            text-align: center;
            color: $color-white;
            font-weight: 600;
        }
        h2{
            color: $color-white;
            font-weight: 500;
            line-height: 1.6;
            font-size: 1rem;
            text-align: center;
            margin: 0.5rem 0;
        }
    }
    &--title{
        text-align: center;
        h1{
            color: $color-white;
            font-weight: 600;
            font-size: 2.5rem;
            line-height: 1.6;

        }
    }
    &--row{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

.work__news{
  --f-columns: 2;
  --f-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--f-gap));
  margin-bottom: calc(-1 * var(--f-gap));
}
.work__new{
  margin-left: var(--f-gap);
  margin-bottom: var(--f-gap);
  width: calc((100% / var(--f-columns) - var(--f-gap)));
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  &--img{
    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
  }
  &--content{

  }
  &--title{
    padding: 1rem 2rem;
    a{
        text-decoration: none !important;
        color: #666;
        h1{
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.6;
        }
        span{
            font-size: 0.7rem;
            font-weight: 500;
            line-height: 1.6;
        }
    }
  }
}
