.about{
    // margin: 4rem 0;
    &__container{
        // max-width: 1000px;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        // flex-direction: column;
    }
    &__row:nth-child(2){
        flex-direction: row-reverse;
        background-color: $color-yellow;
    }
    &__img{
        width: 100%;
        max-width: 50%;
        position: relative;
        width: 50%;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 59%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 59%,rgba(255,255,255,0) 100%);
            /* background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 59%,rgba(255,255,255,0) 100%); */
            z-index: 1;
            pointer-events: none;
        }
    }
    &__caption{
        max-width: 282px;
        margin: auto;
        &--heading{
            h1{
                font-size: 2.7rem;
                color: $color-brown;
                font-weight: 600;
                line-height: 1.6;
                text-transform: uppercase;
                cursor: pointer;
                &:hover{
                    color: $color-yellow;

                }
            }
        }
        &--desc{
            h1{
                font-size: .9rem;
                font-weight: 500;
                text-transform: uppercase;
                line-height: 1.6;
                color: $color-dark__brown;
            }
        }
        &--cap{
            margin-bottom: 2rem;
            p{
                color: $color-brown;
                font-size: 0.75rem;
                font-weight: 500;
                line-height: 1.6;
                letter-spacing: .02rem;
            }
        }
        &--btn{
            a{
                font-size: .8rem;
                padding: .5rem 2rem;
                color: $color-sepia;
                border: .1rem solid $color-sepia;
                background-color: $color-white;
                text-transform: uppercase;
                border-radius: 5px;
                &:hover{
                    color: $color-white;
                    background-color: $color-sepia;
                    border-color: $color-sepia;
                }
            }
        }
    }

}

