include ./views/mixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tin Tức ! Highlands Coffee
        link(rel="shortcut icon", href="/src/img/logo.webp", type="image/x-icon")
        link(rel="stylesheet", href="/src/css/app.css")
        link(rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css")
    body 
        .warrper
            include views/header
            include views/news--public
            include views/footer
    script(src="/src/js/app.js") 