@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s linear;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.warrper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 1rem 0;
  border-top: 0.5rem solid #53382c;
  background-color: #b22830;
}
.header__container {
  max-width: 1000px !important;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo a img {
  max-width: 100px;
  object-fit: cover;
}
.header__menu--top {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: right;
  margin-bottom: 2rem;
}
.header__menu--top-input {
  position: relative;
}
.header__menu--top-input input {
  all: unset;
  background-color: #fff;
  width: 250px;
  height: 30px;
  padding-left: 1rem;
  font-size: 0.8rem;
  font-style: italic;
}
.header__menu--top-input .icon {
  position: absolute;
  top: 7px;
  left: 90%;
}
.header__menu--top-language {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-item > a {
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.7;
  padding: 1rem 1.1rem 1.2rem;
}

.menu-item > a:hover {
  background-color: #53382c;
}

.menu-item:nth-child(2):hover .menuMega {
  display: block;
}

.menuMega {
  position: absolute;
  left: 0;
  right: 0;
  top: 16.8%;
  background: #53382c;
  padding: 15px 0;
  display: none;
  z-index: 1000;
}

.menuMega > .container {
  max-width: 1000px !important;
}

.dropdown {
  display: flex;
  justify-content: space-between;
}

.col1 {
  flex: 0 1 70%;
}

.col2 {
  flex: 0 1 30%;
  margin-left: 3rem;
}

.dropdown > li > a {
  color: #f1bc7a;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

.row {
  display: flex;
}

.menu2 li {
  margin: 1rem 0;
  text-align: center;
}

.menu2 li a {
  color: #fff;
  font-size: 0.7rem;
  animation: move 3s ease-in;
}

.menu2 li a:hover {
  color: #f1bc7a;
}

.menu-dropdown {
  text-align: center;
}

.bannerMenu {
  padding: 15px 15px;
  background: url(/src//img//bgmenu.jpg) no-repeat center center;
  background-size: cover;
  width: 50%;
}
.bannerMenu__txt {
  margin-bottom: 25px;
}
.bannerMenu__txt a {
  font-size: 1.6rem;
  display: block;
  font-weight: bold;
  color: #f1bc7a;
  font-family: "fontkhachhang";
  font-weight: normal !important;
  padding-right: 20%;
  font-weight: 800 !important;
}
.bannerMenu__txt a:hover {
  color: #fff;
}
.bannerMenu__img {
  width: 70%;
}

@keyframes move {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
}
.banner {
  position: relative;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: var(--white-color);
  border-radius: 50%;
  display: inline-block;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

.radio {
  position: absolute;
  top: 80%;
  left: 50%;
  bottom: -55px;
  transform: translate(-50%, 50%);
}

/* định dạng các chấm chuyển đổi các slide */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* khi được hover, active đổi màu nền */
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.bannerHome__img img {
  width: 100%;
}

.mainbot__row {
  display: flex;
}
.mainbot__left {
  flex: 0 1 50%;
  background: url(/src//img//mainbot1.jpg);
  padding: 55px 40px 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainbot__left--text {
  color: #fff;
}
.mainbot__left--text-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.mainbot__left--text-content {
  max-width: 300px;
  text-align: right;
  margin-left: auto;
  font-size: 1rem;
  line-height: 1.6;
}
.mainbot__left--text-content span {
  font-weight: 600;
  cursor: pointer;
}
.mainbot__right {
  flex: 0 1 50%;
  background: url(/src//img//mainbot2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 40px 30px;
}
.mainbot__right--heading {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
  max-width: 500px;
}
.mainbot__right--heading-title h1 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #53382c;
  text-transform: uppercase;
}
.mainbot__right--heading-see a {
  color: #53382c;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
}
.mainbot__right--heading-see a:hover {
  color: #b22830;
}
.mainbot__right--heading-see i {
  font-size: 0.7rem;
  font-weight: 700 !important;
}
.mainbot__right--img img {
  width: 80px;
  height: 100%;
  object-fit: cover;
}
.mainbot__right--item {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.mainbot__right--text-title {
  margin-bottom: 0.5rem;
}
.mainbot__right--text-title h1 {
  color: #53382c;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.mainbot__right--text-title h1:hover {
  color: #b22830;
}
.mainbot__right--text-date {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.mainbot__right--input {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.mainbot__right--input input {
  all: unset;
  width: 300px;
  background-color: #fff;
  height: 30px;
  padding-left: 1rem;
  font-size: 0.7rem;
}
.mainbot__right--btn {
  padding: 0.4rem 2rem;
  background-color: #53382c;
  color: #fff;
}
.mainbot__right--btn a {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}

.footer {
  background-color: #53382c;
  padding: 1rem 0;
}
.footer__container {
  display: flex;
  gap: 1rem;
  color: #fff;
  font-size: 0.9rem;
}
.footer__socialFoot a {
  color: #fff;
  margin-right: 0.5rem;
}
.footer__linkFooter {
  font-size: 0.8rem;
}
.footer__linkFooter a {
  color: #fff;
}
.footer__linkFooter a span {
  margin-left: 0.5rem;
}
.footer__linkFooter a:hover {
  color: #f1bc7a;
}

.content__category--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content__category--item:first-child {
  background: url(/src//img//menu1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.content__category--item:nth-child(2) {
  background: url(/src//img//menu-FREEZE.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-direction: row;
  text-align: right;
}
.content__category--item:nth-child(3) {
  background: url(/src//img//Product_Tra_BG_Web_Banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.content__category--image img {
  width: 400px;
  margin-left: auto;
}
.content__category--child-nth1 {
  color: #f1bc7a;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 500px;
}
.content__category--child-nth1 h2 {
  font-size: 2.5rem !important;
  text-transform: uppercase;
  cursor: pointer;
}
.content__category--child-nth1 h2:hover {
  color: #faebd7;
}
.content__category--child-nth1 p {
  font-size: 0.9rem;
  margin: 1rem 0 2rem 0;
}
.content__category--child-nth1 a {
  color: #faebd7;
  border: 0.1rem solid #faebd7;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}
.content__category--child-nth1 a:hover {
  color: #faebd7;
  background-color: #882106;
  border-color: #882106;
}
.content__category--child-nth2 {
  color: #006400;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 500px;
}
.content__category--child-nth2 h2 {
  font-size: 2.5rem !important;
  text-transform: uppercase;
  cursor: pointer;
}
.content__category--child-nth2 h2:hover {
  color: #882106;
}
.content__category--child-nth2 p {
  font-size: 0.9rem;
  margin: 1rem 0 2rem 0;
}
.content__category--child-nth2 a {
  color: #006400;
  border: 0.1rem solid #006400;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}
.content__category--child-nth2 a:hover {
  color: #fff;
  background-color: #882106;
  border-color: #882106;
}
.content__category--child-nth3 {
  color: #faebd7;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 500px;
}
.content__category--child-nth3 h2 {
  font-size: 2.5rem !important;
  text-transform: uppercase;
  cursor: pointer;
}
.content__category--child-nth3 h2:hover {
  color: #b22830;
}
.content__category--child-nth3 p {
  font-size: 0.9rem;
  margin: 1rem 0 2rem 0;
}
.content__category--child-nth3 a {
  color: #faebd7;
  border: 0.1rem solid #faebd7;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}
.content__category--child-nth3 a:hover {
  color: #faebd7;
  background-color: #882106;
  border-color: #882106;
}

.menucaphe__container {
  max-width: 1000px;
}

.menucaphe {
  padding-top: 5rem;
}
.menucaphe__heading--title {
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.6;
  color: #53382c;
  text-transform: uppercase;
}
.menucaphe__heading--title:hover {
  color: #882106;
}
.menucaphe__heading--desc {
  margin: 0.5rem 0;
  max-width: 650px;
  font-size: 0.8rem;
  color: #53382c;
  line-height: 1.6;
  letter-spacing: 0.05;
}

.menucaphe__list {
  display: grid;
  justify-content: flex-start;
  grid-auto-columns: 30%;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  overflow: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 1rem;
  grid-template-columns: unset;
  max-width: 650px;
  text-align: center;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
}

.menucaphe__item::-webkit-scrollbar {
  display: none;
}

.menucaphe__item {
  scroll-snap-align: start;
}
.menucaphe__item--img {
  max-width: 200px;
  margin: 0 auto;
  border: solid 0.1rem #eeeeee;
  overflow: hidden;
}
.menucaphe__item--img img {
  width: 170px;
  margin: 0 auto;
  height: 170px;
}
.menucaphe__item--img img:hover {
  transform: scale(1.05);
  overflow: hidden;
}
.menucaphe__item--name {
  margin-top: 1rem;
}
.menucaphe__item--title h1 {
  color: #53382c;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.6;
  cursor: pointer;
}
.menucaphe__item--title h1:hover {
  color: #882106;
}
.menucaphe__item--price {
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menucaphe__item--price h1 {
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 0.2rem;
}
.menucaphe__item--price span {
  font-size: 0.7rem;
  font-weight: 600;
}

.menuOthers__heading {
  max-width: 650px;
}
.menuOthers__heading--title h1 {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.6;
  color: #53382c;
}
.menuOthers__heading--title h1:hover {
  color: #882106;
  cursor: pointer;
}
.menuOthers__heading--desc {
  margin: 1rem 0;
}
.menuOthers__heading--desc p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #53382c;
  line-height: 1.6;
  letter-spacing: 0.05;
}

.menucaphe__list {
  margin-bottom: 5rem;
}

.new__heading {
  margin: 3rem 0;
}
.new__heading h1 {
  color: #53382c;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  text-transform: uppercase;
}

.new__public-container {
  max-width: 1000px;
}

.box__list {
  --f-columns: 3;
  --f-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--f-gap));
  margin-bottom: calc(-1 * var(--f-gap));
  margin-bottom: 3rem;
}

.box__item {
  margin-left: var(--f-gap);
  margin-bottom: var(--f-gap);
  width: calc(100% / var(--f-columns) - var(--f-gap));
  display: none;
}
.box__item--img {
  overflow: hidden;
}
.box__item--img img:hover {
  transform: scale(1.1);
}
.box__item--title {
  margin: 0.7rem 0;
}
.box__item--title a {
  color: #53382c;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.4;
}
.box__item--title a:hover {
  color: #882106;
}
.box__item--date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: #53382c;
  font-size: 0.7rem;
}

.load {
  text-align: center;
}

#loading {
  color: #882106;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  padding: 0.5rem 3rem;
  border: 0.1rem solid #882106;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}
#loading:hover {
  color: #faebd7;
  border-color: #882106;
  background-color: #882106;
}

.box__item:nth-child(1),
.box__item:nth-child(2),
.box__item:nth-child(3),
.box__item:nth-child(4),
.box__item:nth-child(5),
.box__item:nth-child(6) {
  display: inline-block;
}

/*# sourceMappingURL=app.css.map */
