html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s linear;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s linear;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.header {
  padding: 1rem 0;
  border-top: 0.5rem solid #53382c;
  background-color: #b22830;
}
.header__container {
  max-width: 1000px !important;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo a img {
  max-width: 100px;
  object-fit: cover;
}
.header__menu--top {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: right;
  margin-bottom: 2rem;
}
.header__menu--top-input {
  position: relative;
}
.header__menu--top-input input {
  all: unset;
  background-color: #fff;
  width: 250px;
  height: 30px;
  padding-left: 1rem;
  font-size: 0.8rem;
  font-style: italic;
}
.header__menu--top-input .icon {
  position: absolute;
  top: 7px;
  left: 90%;
}
.header__menu--top-language {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-item > a {
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.7;
  padding: 1rem 1.1rem 1.2rem;
}

.menu-item > a:hover {
  background-color: #53382c;
}

.menu-item:nth-child(2):hover .menuMega {
  display: block;
}

.menuMega {
  position: absolute;
  left: 0;
  right: 0;
  top: 16.8%;
  background: #53382c;
  padding: 15px 0;
  display: none;
  z-index: 1000;
}

.menuMega > .container {
  max-width: 1000px !important;
}

.dropdown {
  display: flex;
  justify-content: space-between;
}

.col1 {
  flex: 0 1 70%;
}

.col2 {
  flex: 0 1 30%;
  margin-left: 3rem;
}

.dropdown > li > a {
  color: #f1bc7a;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

.row {
  display: flex;
}

.menu2 li {
  margin: 1rem 0;
  text-align: center;
}

.menu2 li a {
  color: #fff;
  font-size: 0.7rem;
  animation: move 3s ease-in;
}

.menu2 li a:hover {
  color: #f1bc7a;
}

.menu-dropdown {
  text-align: center;
}

.bannerMenu {
  padding: 15px 15px;
  background: url(/src//img//bgmenu.jpg) no-repeat center center;
  background-size: cover;
  width: 50%;
}
.bannerMenu__txt {
  margin-bottom: 25px;
}
.bannerMenu__txt a {
  font-size: 1.6rem;
  display: block;
  font-weight: bold;
  color: #f1bc7a;
  font-family: "fontkhachhang";
  font-weight: normal !important;
  padding-right: 20%;
  font-weight: 800 !important;
}
.bannerMenu__txt a:hover {
  color: #fff;
}
.bannerMenu__img {
  width: 70%;
}

@keyframes move {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
}
.warrper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.banner {
  position: relative;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: var(--white-color);
  border-radius: 50%;
  display: inline-block;
}

.mySlides {
  position: relative;
}

.mySlides img {
  width: 100%;
}

.radio {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: -55px;
  transform: translate(-50%, 50%);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.bannerHome__img img {
  width: 100%;
}

.mainbot__row {
  display: flex;
}
.mainbot__left {
  flex: 0 1 50%;
  background: url(/src//img//mainbot1.jpg);
  padding: 55px 40px 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainbot__left--text {
  color: #fff;
}
.mainbot__left--text-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.mainbot__left--text-content {
  max-width: 300px;
  text-align: right;
  margin-left: auto;
  font-size: 1rem;
  line-height: 1.6;
}
.mainbot__left--text-content span {
  font-weight: 600;
  cursor: pointer;
}
.mainbot__right {
  flex: 0 1 50%;
  background: url(/src//img//mainbot2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 40px 30px;
}
.mainbot__right--heading {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
  max-width: 500px;
}
.mainbot__right--heading-title h1 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #53382c;
  text-transform: uppercase;
}
.mainbot__right--heading-see a {
  color: #53382c;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
}
.mainbot__right--heading-see a:hover {
  color: #b22830;
}
.mainbot__right--heading-see i {
  font-size: 0.7rem;
  font-weight: 700 !important;
}
.mainbot__right--img img {
  width: 80px;
  height: 100%;
  object-fit: cover;
}
.mainbot__right--item {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.mainbot__right--text-title {
  margin-bottom: 0.5rem;
}
.mainbot__right--text-title h1 {
  color: #53382c;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.mainbot__right--text-title h1:hover {
  color: #b22830;
}
.mainbot__right--text-date {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.mainbot__right--input {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.mainbot__right--input input {
  all: unset;
  width: 300px;
  background-color: #fff;
  height: 30px;
  padding-left: 1rem;
  font-size: 0.7rem;
}
.mainbot__right--btn {
  padding: 0.4rem 2rem;
  background-color: #53382c;
  color: #fff;
}
.mainbot__right--btn a {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}

/*# sourceMappingURL=app.css.map */
