@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s linear;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.warrper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 1rem 0;
  border-top: 0.5rem solid #53382c;
  background-color: #b22830;
}
.header__container {
  max-width: 1000px !important;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo a img {
  max-width: 100px;
  object-fit: cover;
}
.header__menu--top {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: right;
  margin-bottom: 2rem;
}
.header__menu--top-input {
  position: relative;
}
.header__menu--top-input input {
  all: unset;
  background-color: #fff;
  width: 250px;
  height: 30px;
  padding-left: 1rem;
  font-size: 0.8rem;
  font-style: italic;
}
.header__menu--top-input .icon {
  position: absolute;
  top: 7px;
  left: 90%;
}
.header__menu--top-language {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-item > a {
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.7;
  padding: 1.2rem 1rem 1.2rem 1rem;
}

.menu-item > a:hover, .active:hover {
  background-color: #53382c;
}

.menu a.active {
  background-color: #53382c;
}

.menu-item:nth-child(2):hover .menuMega, .menu-item:nth-child(5):hover .menuMega {
  display: block;
}

.menuMega {
  position: absolute;
  left: 0;
  right: 0;
  top: 16.8%;
  background: #53382c;
  padding: 15px 0;
  display: none;
  z-index: 1000;
}

.menuMega > .container {
  max-width: 1000px !important;
}

.dropdown {
  display: flex;
  justify-content: space-between;
}

.col1 {
  flex: 0 1 70%;
}

.col2 {
  flex: 0 1 30%;
  margin-left: 3rem;
}

.dropdown > li > a {
  color: #f1bc7a;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}
.dropdown > li > a:hover {
  color: #fff;
}

.row {
  display: flex;
}

.menu2 li {
  margin: 1rem 0;
  text-align: center;
}

.menu2 li a {
  color: #fff;
  font-size: 0.7rem;
  animation: move 3s ease-in;
}

.menu2 li a:hover {
  color: #f1bc7a;
}

.menu-dropdown {
  text-align: center;
}

.bannerMenu {
  padding: 15px 15px;
  background: url(/src//img//bgmenu.jpg) no-repeat center center;
  background-size: cover;
  width: 50%;
}
.bannerMenu__txt {
  margin-bottom: 25px;
}
.bannerMenu__txt a {
  font-size: 1.6rem;
  display: block;
  font-weight: bold;
  color: #f1bc7a;
  font-family: "fontkhachhang";
  font-weight: normal !important;
  padding-right: 20%;
  font-weight: 800 !important;
}
.bannerMenu__txt a:hover {
  color: #fff;
}
.about1 > .dropdown {
  width: 90%;
}

.bannerMenu__image img {
  width: 100%;
}

@keyframes move {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
}
.show-links {
  height: 0rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: #fff;
  background: #b22830;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.nav-toggle:hover {
  transform: rotate(90deg);
}

.nav-toggle {
  display: none;
}

@media screen and (max-width: 1023.98px) {
  html {
    font-size: 55%;
  }
  .header__menu--bottom {
    display: none;
  }
  .nav-toggle {
    display: block;
    font-size: 3rem;
  }
  .header__menu--top-input {
    display: none;
  }
  .menu {
    flex-direction: column;
  }
  .mainbot__row {
    flex-direction: column;
  }
  .mainbot__left--text-title {
    text-align: left !important;
    font-size: 5rem !important;
  }
  .mainbot__left--text-content {
    font-size: 2.5rem !important;
    font-weight: 600 !important;
  }
  .mainbot__right--heading {
    max-width: 800px !important;
  }
  .mainbot__right--heading-title h1 {
    font-size: 3rem !important;
  }
  .mainbot__right--heading-see a, .mainbot__right--heading-see i {
    font-size: 2.5rem !important;
    font-weight: 600;
  }
  .mainbot__right--item {
    gap: 2rem !important;
  }
  .mainbot__right--img img {
    width: 120px !important;
    height: auto !important;
  }
  .mainbot__right--text-title h1 {
    font-size: 2rem !important;
  }
  .mainbot__right--text-date {
    margin-top: 2rem !important;
    font-size: 2.5rem !important;
    font-weight: 600;
  }
  .mainbot__right--input input {
    font-size: 3rem !important;
    height: 50px !important;
    width: 550px !important;
  }
  .mainbot__right--btn {
    padding: 1.3rem 3rem !important;
  }
  .mainbot__right--btn a, .mainbot__right--btn i {
    font-size: 3rem !important;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem !important;
  }
  .footer {
    padding: 5rem 0 !important;
    line-height: 1.6 !important;
  }
  .footer__linkFooter span, .footer__linkFooter i {
    font-size: 2.5rem !important;
  }
}
.banner {
  position: relative;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: var(--white-color);
  border-radius: 50%;
  display: inline-block;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

.radio {
  position: absolute;
  top: 80%;
  left: 50%;
  bottom: -55px;
  transform: translate(-50%, 50%);
}

/* định dạng các chấm chuyển đổi các slide */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* khi được hover, active đổi màu nền */
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.bannerHome__img img {
  width: 100%;
}

.mainbot__row {
  display: flex;
}
.mainbot__left {
  flex: 0 1 50%;
  background: url(/src//img//mainbot1.jpg);
  padding: 55px 40px 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainbot__left--text {
  color: #fff;
}
.mainbot__left--text-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.mainbot__left--text-content {
  max-width: 300px;
  text-align: right;
  margin-left: auto;
  font-size: 1rem;
  line-height: 1.6;
}
.mainbot__left--text-content span {
  font-weight: 600;
  cursor: pointer;
}
.mainbot__right {
  flex: 0 1 50%;
  background: url(/src//img//mainbot2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 40px 30px;
}
.mainbot__right--heading {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
  max-width: 500px;
}
.mainbot__right--heading-title h1 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #53382c;
  text-transform: uppercase;
}
.mainbot__right--heading-see a {
  color: #53382c;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
}
.mainbot__right--heading-see a:hover {
  color: #b22830;
}
.mainbot__right--heading-see i {
  font-size: 0.7rem;
  font-weight: 700 !important;
}
.mainbot__right--img img {
  width: 80px;
  height: 100%;
  object-fit: cover;
}
.mainbot__right--item {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.mainbot__right--text-title {
  margin-bottom: 0.5rem;
}
.mainbot__right--text-title h1 {
  color: #53382c;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.mainbot__right--text-title h1:hover {
  color: #b22830;
}
.mainbot__right--text-date {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.mainbot__right--input {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.mainbot__right--input input {
  all: unset;
  width: 300px;
  background-color: #fff;
  height: 30px;
  padding-left: 1rem;
  font-size: 0.7rem;
}
.mainbot__right--btn {
  padding: 0.4rem 2rem;
  background-color: #53382c;
  color: #fff;
}
.mainbot__right--btn a {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}

.footer {
  background-color: #53382c;
  padding: 1rem 0;
}
.footer__container {
  display: flex;
  gap: 1rem;
  color: #fff;
  font-size: 0.9rem;
}
.footer__socialFoot a {
  color: #fff;
  margin-right: 0.5rem;
}
.footer__linkFooter {
  font-size: 0.8rem;
}
.footer__linkFooter a {
  color: #fff;
}
.footer__linkFooter a span {
  margin-left: 0.5rem;
}
.footer__linkFooter a:hover {
  color: #f1bc7a;
}

.content__category--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content__category--item:first-child {
  background: url(/src//img//menu1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.content__category--item:nth-child(2) {
  background: url(/src//img//menu-FREEZE.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-direction: row;
  text-align: right;
}
.content__category--item:nth-child(3) {
  background: url(/src//img//Product_Tra_BG_Web_Banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.content__category--image img {
  width: 400px;
  margin-left: auto;
}
.content__category--child-nth1 {
  color: #f1bc7a;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 500px;
}
.content__category--child-nth1 h2 {
  font-size: 2.5rem !important;
  text-transform: uppercase;
  cursor: pointer;
}
.content__category--child-nth1 h2:hover {
  color: #faebd7;
}
.content__category--child-nth1 p {
  font-size: 0.9rem;
  margin: 1rem 0 2rem 0;
}
.content__category--child-nth1 a {
  color: #faebd7;
  border: 0.1rem solid #faebd7;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}
.content__category--child-nth1 a:hover {
  color: #faebd7;
  background-color: #882106;
  border-color: #882106;
}
.content__category--child-nth2 {
  color: #006400;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 500px;
}
.content__category--child-nth2 h2 {
  font-size: 2.5rem !important;
  text-transform: uppercase;
  cursor: pointer;
}
.content__category--child-nth2 h2:hover {
  color: #882106;
}
.content__category--child-nth2 p {
  font-size: 0.9rem;
  margin: 1rem 0 2rem 0;
}
.content__category--child-nth2 a {
  color: #006400;
  border: 0.1rem solid #006400;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}
.content__category--child-nth2 a:hover {
  color: #fff;
  background-color: #882106;
  border-color: #882106;
}
.content__category--child-nth3 {
  color: #faebd7;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 500px;
}
.content__category--child-nth3 h2 {
  font-size: 2.5rem !important;
  text-transform: uppercase;
  cursor: pointer;
}
.content__category--child-nth3 h2:hover {
  color: #b22830;
}
.content__category--child-nth3 p {
  font-size: 0.9rem;
  margin: 1rem 0 2rem 0;
}
.content__category--child-nth3 a {
  color: #faebd7;
  border: 0.1rem solid #faebd7;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}
.content__category--child-nth3 a:hover {
  color: #faebd7;
  background-color: #882106;
  border-color: #882106;
}

.menucaphe__container {
  max-width: 1000px;
}

.menucaphe {
  padding-top: 5rem;
}
.menucaphe__heading--title {
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.6;
  color: #53382c;
  text-transform: uppercase;
}
.menucaphe__heading--title:hover {
  color: #882106;
}
.menucaphe__heading--desc {
  margin: 0.5rem 0;
  max-width: 650px;
  font-size: 0.8rem;
  color: #53382c;
  line-height: 1.6;
  letter-spacing: 0.05;
}

.menucaphe__list, .tra, .freeze, .khac {
  display: grid;
  justify-content: flex-start;
  grid-auto-columns: 30%;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  overflow: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 1rem;
  grid-template-columns: unset;
  max-width: 650px;
  text-align: center;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
}

.menucaphe__item::-webkit-scrollbar {
  display: none;
}

.menucaphe__item {
  scroll-snap-align: start;
}
.menucaphe__item--img {
  max-width: 200px;
  margin: 0 auto;
  border: solid 0.1rem #eeeeee;
  overflow: hidden;
}
.menucaphe__item--img img {
  width: 170px;
  margin: 0 auto;
  height: 170px;
}
.menucaphe__item--img img:hover {
  transform: scale(1.05);
  overflow: hidden;
}
.menucaphe__item--name {
  margin-top: 1rem;
}
.menucaphe__item--title h1 {
  color: #53382c;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.6;
  cursor: pointer;
}
.menucaphe__item--title h1:hover {
  color: #882106;
}
.menucaphe__item--price {
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menucaphe__item--price h1 {
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 0.2rem;
}
.menucaphe__item--price span {
  font-size: 0.7rem;
  font-weight: 600;
}

.menuOthers__heading {
  max-width: 650px;
}
.menuOthers__heading--title h1 {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.6;
  color: #53382c;
}
.menuOthers__heading--title h1:hover {
  color: #882106;
  cursor: pointer;
}
.menuOthers__heading--desc {
  margin: 1rem 0;
}
.menuOthers__heading--desc p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #53382c;
  line-height: 1.6;
  letter-spacing: 0.05;
}

.menucaphe__list {
  margin-bottom: 5rem;
}

.new__heading {
  margin: 3rem 0;
}
.new__heading h1 {
  color: #53382c;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  text-transform: uppercase;
}

.new__public-container, .public__container {
  max-width: 1000px;
}

.box__list {
  --f-columns: 3;
  --f-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--f-gap));
  margin-bottom: calc(-1 * var(--f-gap));
  margin-bottom: 3rem;
}

.box__item {
  margin-left: var(--f-gap);
  margin-bottom: var(--f-gap);
  width: calc(100% / var(--f-columns) - var(--f-gap));
  display: none;
}
.box__item--img {
  overflow: hidden;
}
.box__item--img img:hover {
  transform: scale(1.1);
}
.box__item--title {
  margin: 0.7rem 0;
}
.box__item--title a {
  color: #53382c;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.4;
}
.box__item--title a:hover {
  color: #882106;
}
.box__item--date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: #53382c;
  font-size: 0.7rem;
  margin-top: auto;
  flex-shrink: 0;
}
.box__item--title {
  flex: 1;
}
.box__item--bot {
  display: flex;
  flex-direction: column;
}

.load {
  text-align: center;
}

#loading {
  color: #882106;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  padding: 0.5rem 3rem;
  border: 0.1rem solid #882106;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}
#loading:hover {
  color: #faebd7;
  border-color: #882106;
  background-color: #882106;
}

.box__item:nth-child(1),
.box__item:nth-child(2),
.box__item:nth-child(3),
.box__item:nth-child(4),
.box__item:nth-child(5),
.box__item:nth-child(6) {
  display: inline-block;
}

.about__row {
  display: flex;
  justify-content: space-between;
}
.about__img {
  width: 100%;
  max-width: 50%;
  position: relative;
  width: 50%;
}
.about__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -moz-linear-gradient(left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 0) 100%);
  /* background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 59%,rgba(255,255,255,0) 100%); */
  z-index: 1;
  pointer-events: none;
}
.about__caption {
  max-width: 282px;
  margin: auto;
}
.about__caption--heading h1 {
  font-size: 2.7rem;
  color: #53382c;
  font-weight: 600;
  line-height: 1.6;
  text-transform: uppercase;
  cursor: pointer;
}
.about__caption--heading h1:hover {
  color: #f1bc7a;
}
.about__caption--desc h1 {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.6;
  color: #53382c;
}
.about__caption--cap {
  margin-bottom: 2rem;
}
.about__caption--cap p {
  color: #53382c;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.02rem;
}
.about__caption--btn a {
  font-size: 0.8rem;
  padding: 0.5rem 2rem;
  color: #882106;
  border: 0.1rem solid #882106;
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
}
.about__caption--btn a:hover {
  color: #fff;
  background-color: #882106;
  border-color: #882106;
}

.child2 {
  flex-direction: row-reverse;
  background-color: #bd945d;
}

.child2-img, .child3-img {
  width: 100%;
  max-width: 50%;
  position: relative;
  width: 50%;
}

.child2-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) -1%, rgba(255, 255, 255, 0) 0%, rgba(222, 201, 173, 0) 50%, rgb(192, 152, 100) 95%, rgb(189, 148, 93) 99%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) -1%, rgba(255, 255, 255, 0) 0%, rgba(222, 201, 173, 0) 50%, rgb(192, 152, 100) 95%, rgb(189, 148, 93) 99%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) -1%, rgba(255, 255, 255, 0) 0%, rgba(222, 201, 173, 0) 50%, rgb(192, 152, 100) 95%, rgb(189, 148, 93) 99%);
  z-index: 1;
  pointer-events: none;
}

.child3-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -moz-linear-gradient(left, rgb(142, 90, 45) 0%, rgba(194, 166, 142, 0) 46%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgb(142, 90, 45) 0%, rgba(194, 166, 142, 0) 46%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgb(142, 90, 45) 0%, rgba(194, 166, 142, 0) 46%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
  pointer-events: none;
}

.child3 {
  background-color: #8e5a2d;
}

.child2-text h1, .child2-desc h1 {
  color: #fff !important;
}

.child2-text h1:hover, .child2-desc h1:hover {
  color: #f1bc7a !important;
}

.child2-text {
  min-width: 500px;
}

.child2-btn a {
  background-color: #bd945d;
  color: #fff;
  border-color: #fff;
}
.child2-btn a:hover {
  background-color: #fff;
  color: #882106;
  border-color: #fff;
}

.btn a {
  background-color: #8e5a2d !important;
  color: #fff !important;
  border-color: #fff;
}
.btn a:hover {
  background-color: #fff !important;
  color: #882106 !important;
  border-color: #fff !important;
}

.img {
  position: relative;
}
.img img {
  height: 100% !important;
  width: 100%;
  max-width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.global__row {
  display: flex;
  margin: 3rem 0;
}

.img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -moz-linear-gradient(left, rgba(233, 233, 233, 0) 1%, rgba(233, 233, 233, 0) 41%, rgb(233, 233, 233) 100%);
  background: -webkit-linear-gradient(left, rgba(233, 233, 233, 0) 1%, rgba(233, 233, 233, 0) 41%, rgb(233, 233, 233) 100%);
  background: linear-gradient(to right, rgba(233, 233, 233, 0) 1%, rgba(233, 233, 233, 0) 41%, rgb(233, 233, 233) 100%);
}

.global__heading h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #53382c;
}

.global__desc {
  margin: 1.5rem 0;
}
.global__desc h4 {
  font-size: 0.9rem;
  font-weight: 200;
  color: #53382c;
}

.global__text {
  margin-right: 1rem;
}
.global__text p:first-child {
  color: #53382c;
  font-size: 0.8rem;
  font-weight: 200;
  margin-bottom: 1rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
}
.global__text p:last-child {
  color: #53382c;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  font-weight: 200;
  line-height: 1.6;
  letter-spacing: 0.02rem;
}

.global__slogan {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.02rem;
}

.global__BannerSliderbar a {
  display: block;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  margin-bottom: 1.5rem;
}
.global__BannerSliderbar a img {
  width: 100%;
  height: 100%;
}
.global__BannerSliderbar a span {
  position: absolute;
  top: 70%;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  min-width: 200px;
}

.orderdetail__container {
  max-width: 1000px;
}

.oderdetail {
  margin: 5rem 0 10rem 0;
}
.oderdetail__heading h1 {
  color: #53382c;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.7;
}
.oderdetail__row {
  display: flex;
  gap: 3rem;
}
.oderdetail__img {
  flex: 1 0 10%;
  border: 0.1rem solid #faebd7;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.oderdetail__img img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.oderdetail__content {
  flex: 1 0 50%;
}
.oderdetail__content--text p {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.02rem;
  color: #53382c;
}
.oderdetail__content--btn {
  margin: 2rem 0 5rem 0;
}
.oderdetail__content--btn a {
  color: #fff;
  background-color: #b22830;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
.oderdetail__content--price span {
  color: #53382c;
  font-weight: 600;
}

.headerHomePage {
  background-color: #fff;
}

.container__headerHomePage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav .logo img {
  width: 100px;
}
.nav .menu__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav .menu__nav--link a {
  color: hsla(0, 0%, 40%, 0.85);
  font-weight: 500;
  line-height: 1.6;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 1rem;
  position: relative;
  text-decoration: none;
}
.nav .menu__nav--link a:hover {
  color: #000;
}
.nav .menu__nav--link a:hover::after {
  opacity: 1;
}
.nav .menu__nav--link a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 100rem;
  background-color: #b22830;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
}
.nav .menu__nav--flag {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.activeHome {
  color: #b22830 !important;
}

.bannerHome {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.banner__search {
  background-color: #a7383b;
  border-radius: 10px;
  padding: 1rem 2rem;
}
.banner__search--heading {
  color: #fff;
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 0.7rem;
}
.banner__search--heading h1 {
  font-weight: 600;
  font-size: 1.3rem;
}
.banner__search--find {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.banner__search--find .find * {
  all: unset;
}
.banner__search--find .find {
  background-color: #fff;
  border-radius: 7px;
  padding: 1rem 2rem;
}

.select1 {
  padding-left: 2rem !important;
  border-left: 0.1rem solid #882106 !important;
  border-right: 0.1rem solid #882106 !important;
}

.select2 {
  padding-left: 0.6rem !important;
}

.btnHomePage a {
  color: #fff !important;
  padding: 1.1rem 2rem;
  border-radius: 6px;
  border: 0.1rem solid #fff;
  background-color: #53382c;
  text-decoration: none !important;
  font-size: 0.7rem;
}
.btnHomePage a:hover {
  color: #fff;
}

.banner__search {
  position: absolute;
  left: 50%;
  top: 69%;
  transform: translateX(-50%);
  min-width: 60%;
}

.strategic {
  margin-top: 5rem;
}

.strategic__list {
  --f-columns: 3;
  --f-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--f-gap));
  margin-bottom: calc(-1 * var(--f-gap));
}

.strategic__item {
  margin-left: var(--f-gap);
  margin-bottom: var(--f-gap);
  width: calc(100% / var(--f-columns) - var(--f-gap));
  border: 0.1rem solid #a7383b !important;
  border-radius: 18px;
  padding: 3rem 1rem 3rem 1rem;
  position: relative;
}

.strategic__desc p {
  max-width: 300px;
}

.icon {
  position: absolute;
  top: -30px;
  left: 5%;
  z-index: 100;
  text-align: center;
}
.icon .icon--item {
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 100rem;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.icon .icon--item img {
  margin: 0 auto;
}

.strategic__title {
  border-bottom: 0.05rem solid #a7383b;
}
.strategic__title h1 {
  font-size: 1.3rem;
}

.strategic__desc {
  padding-top: 1rem;
}

#aboutUS {
  margin: 5rem 0;
  padding: 2rem 0;
}

.video {
  background-color: rgb(223, 215, 202);
  padding: 2rem 0;
}

.container__aboutUs {
  max-width: 1200px;
  margin: 0 auto;
}

.aboutUs__title {
  text-align: center;
}
.aboutUs__title h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
}

.aboutUs__video {
  text-align: center;
}

.about__ct {
  padding: 2rem 0;
  background-color: rgb(221, 133, 79);
}

.aboutUs__content--title {
  text-align: center;
  margin-bottom: 2rem;
}
.aboutUs__content--title h1 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
}
.aboutUs__content--number {
  display: flex;
  gap: 2rem;
  justify-content: center;
  text-align: center;
}

article p {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 300px;
}
article span {
  color: #fff;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.6;
}

.aboutUs__slider {
  margin: 5rem 0;
  overflow: hidden;
}
.aboutUs__slider--img {
  display: flex;
  gap: 1rem;
  overflow: hidden;
}
.aboutUs__slider--img img {
  width: 250px;
  height: auto;
}
.aboutUs__slider--text {
  max-width: 400px;
}
.aboutUs__slider--title h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  color: #53382c;
}

.aboutUs__slider--content {
  background-color: rgb(241, 227, 178);
  border-radius: 10px;
}
.aboutUs__slider--content .rowABoutUs {
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.next-btn {
  height: 30px;
  position: absolute;
  left: 15%;
  top: 280%;
}

.pre-btn {
  height: 30px;
  position: absolute;
  right: 15%;
  top: 280%;
}

.learnABout__list {
  --f-columns: 2;
  --f-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--f-gap));
  margin-bottom: calc(-1 * var(--f-gap));
}

.learnAbout__item {
  margin-left: var(--f-gap);
  margin-bottom: var(--f-gap);
  width: calc(100% / var(--f-columns) - var(--f-gap));
}

.learnAbout__item:first-child {
  background-color: rgb(244, 206, 215);
}

.learnAbout__item:last-child {
  background-color: rgb(207, 224, 216);
}

.container__learnAbout {
  max-width: 1200px;
  margin: 0 auto;
}

.learnAbout__img img {
  width: 100%;
}

.learnAbout__text {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.learnAbout__title h1 {
  font-size: 2rem;
  color: #53382c;
  font-weight: 600;
}

.learnAbout__text--icon a {
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 100px;
  border: 0.1rem solid #a7383b;
  font-size: 1.9rem;
  display: block;
}
.learnAbout__text--icon a i {
  color: #a7383b;
}
.learnAbout__text--icon a:hover {
  background-color: #a7383b;
}
.learnAbout__text--icon a:hover i {
  color: #fff;
}

.image1:hover, .image2:hover {
  transform: scale(1.1);
}

.container__footer {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.logo img {
  width: 200px;
}

.footer__heading h1 {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer__links--icon {
  display: flex;
  gap: 2rem;
}
.footer__links--icon a {
  font-size: 1.7rem !important;
  color: #a7383b;
}

.footer__desc {
  margin-top: 2rem;
  text-align: center;
}
.footer__desc h1 {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.9;
}

.conatainer__workBanner {
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 0 15px;
}

.work__banner {
  background: url(/src/img/work1.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}
.work__banner--text {
  height: 400px;
  max-width: 500px;
  padding: 10rem 3rem;
}
.work__banner--text h1 {
  color: #fff;
  font-weight: 600;
  line-height: 1.6;
  font-size: 2.473rem;
}

.work__content {
  margin-top: 5rem;
}
.work__content--row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.work__content--title {
  max-width: 500px;
}
.work__content--title h1 {
  color: #882106;
  font-weight: 600;
  line-height: 1.6;
  font-size: 2rem;
}
.work__content--desc {
  max-width: 600px;
}
.work__content--desc p {
  color: #53382c;
  font-weight: 600;
  line-height: 1.6;
  font-size: 1.1rem;
}
.work__content--img {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.work__list {
  --f-columns: 4;
  --f-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--f-gap));
  margin-bottom: calc(-1 * var(--f-gap));
}

.work__item {
  margin-left: var(--f-gap);
  margin-bottom: var(--f-gap);
  width: calc(100% / var(--f-columns) - var(--f-gap));
  pointer-events: none;
}

.work__welfare {
  margin: 5rem 0;
}
.work__welfare--banner {
  background-color: rgb(221, 133, 79);
  padding: 2rem 2rem;
}
.work__welfare--item img {
  width: 50px;
  margin: 0 auto;
}
.work__welfare--item h1 {
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.work__welfare--item h2 {
  color: #fff;
  font-weight: 500;
  line-height: 1.6;
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem 0;
}
.work__welfare--title {
  text-align: center;
}
.work__welfare--title h1 {
  color: #fff;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.6;
}
.work__welfare--row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.work__news {
  --f-columns: 2;
  --f-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--f-gap));
  margin-bottom: calc(-1 * var(--f-gap));
}

.work__new {
  margin-left: var(--f-gap);
  margin-bottom: var(--f-gap);
  width: calc(100% / var(--f-columns) - var(--f-gap));
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.work__new--img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.work__new--title {
  padding: 1rem 2rem;
}
.work__new--title a {
  text-decoration: none !important;
  color: #666;
}
.work__new--title a h1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.6;
}
.work__new--title a span {
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.6;
}

/*# sourceMappingURL=app.css.map */
