section.aboutUs#aboutUS 
    .video 
        .aboutUs__title 
            h1 Về Chúng Tôi 
        .aboutUs__video 
            iframe(width="700" height="360" src="https://www.youtube.com/embed/UtIlpDqqwq0?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    .about__ct 
        .aboutUs__content 
            .aboutUs__content--title 
                h1 Hành trình hạnh phúc của chúng mình
        .aboutUs__content--number
            article
                span.number(data-value="10000") 0
                p Đồng nghiệp thân yêu
            article 
                span.number(data-value="7") 0
                p Đồng nghiệp thân yêu
            article
                span.number(data-value="200000") 0
                p Số ly thức uống phục vụ đến khách hàng mỗi ngày
            article
                span.number(data-value="500") 0
                p Số cửa hàng trải dài trên 64 tỉnh thành
    .aboutUs__slider 
        .container 
            .aboutUs__slider--content 
                button.next-btn 
                    <i class="bi bi-chevron-right"></i>
                .rowABoutUs 
                    .aboutUs__slider--text 
                        .aboutUs__slider--title 
                            h1.title Môi trường làm việc của sự quan tâm
                        .aboutUs__slider--desc 
                            p.desc Trong hơn 5 năm, Highlands đã tăng 39 bậc từ hạng 94 lên hạng 55, đây là cả một quá trình nỗ lực to lớn của chúng mình trong việc xây dựng văn hóa Quan tâm $ Hỗ trợ lẫn nhau. Tại Highlands, chúng mình được lắng nghe, trao quyền và đối xử như một thành viên trong gia đình. Đây là nơi làm việc lý tưởng mà mình tin bạn đang tìm kiếm.
                    .aboutUs__slider--img 
                        img(src="/src/img/slider1__HomePage.jpg", alt="").image1
                        img(src="/src/img/slider2_hoamePage.jpg", alt="").image2
                        button.pre-btn 
                            <i class="bi bi-chevron-left"></i>
    .aboutUs__learnAbout 
        .container__learnAbout 
            .learnABout__list 
                .learnAbout__item 
                    .learnAbout__img 
                        img(src="/src/img/learnABout1.jpg", alt="")
                    .learnAbout__text 
                        .learnAbout__text--left 
                            .learnAbout__title 
                                h1 Cuộc sống tại Highlands
                            .learnAbout__desc 
                                p Thú vị, tràn ngập niềm vui & như là một gia đình
                        .learnAbout__text--icon 
                            a(href="#") 
                                <i class="bi bi-arrow-right"></i>
                .learnAbout__item 
                    .learnAbout__img 
                        img(src="/src/img/learnAbout2.jpg", alt="")
                    .learnAbout__text 
                        .learnAbout__text--left 
                            .learnAbout__title 
                                h1 Tìm hiểu các phòng ban
                            .learnAbout__desc 
                                p Khám phá các vị trí có thể phù hợp với bạn
                        .learnAbout__text--icon
                            a(href="#") 
                                <i class="bi bi-arrow-right"></i>
