section.about#about 
    .about__container 
        +aboutUS('NGUỒN GỐC','CÂU CHUYỆN NÀY LÀ CỦA CHÚNG MÌNH','Ngay từ những ngày đầu tiên, mục tiêu của chúng mình là có thể phục vụ và góp phần phát triển cộng đồng bằng cách siết chặt thêm sự kết nối và sự gắn bó giữa người với người.','#','Xem Chi Tiết','#','/src/img/about1.jpg','about')
        +aboutUS('DỊCH VỤ','DỊCH VỤ NÀY LÀ CỦA CHÚNG MÌNH','Highlands Coffee® là không gian của chúng mình nên mọi thứ ở đây đều vì sự thoải mái của chúng mình. ','#','Xem Chi Tiết','#','/src/img/about2.jpg','about')
        +aboutUS('NGHỀ NGHIỆP','CƠ HỘI NÀY LÀ CỦA CHÚNG MÌNH','Là điểm hội tụ của cộng đồng, Highlands Coffee® luôn tìm kiếm những thành viên mới với mong muốn không ngừng hoàn thiện một không gian dành cho tất cả mọi người. ','#','Xem Chi Tiết','#','/src/img/about3.jpg','about')