section#banner.banner  
    +slideShow('/src/img/banner1.jpg')
    +slideShow('/src/img/banner2.png')
    +slideShow('/src/img/banner3.png')
    +slideShow('/src/img/banner4.png')
    +slideShow('/src/img/banner5.png')
    +slideShow('/src/img/banner6.png')
    .radio
        <span class="dot" onclick="currentSlide(0)"></span> 
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 