section#banner.banner  
    +slideShow('/src/img/banner1.jpg')
    +slideShow('/src/img/banner2.png')
    +slideShow('/src/img/banner3.png')
    +slideShow('/src/img/banner4.png')
    +slideShow('/src/img/banner5.png')
    +slideShow('/src/img/banner6.png')
        <div class="radio">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>