section#bannerHome.banneHome 
    .bannerHome__img 
        img(src="/src/img/HCO-7689-TET-2023-DIGITAL-BANNER-1440X460.jpg", alt="")
    .bannerHome__img 
        img(src="/src/img/21nov_CPCD_WebBanner_2000x639px_newPng.png", alt="")