.department__chinh 
    .text__department
        .department__row 
            .department__title 
                h1 Đồng hành cùng chúng mình Ứng tuyển ngay hôm nay
            .department__desc 
                p Làm việc tại Highlands mang đến nhiều trải nghiệm thú vị và tuyệt vời. Tham gia vào hành trình của chúng mình nhằm mang những điều tốt đẹp nhất của Việt Nam ra thế giới và đem những gì tốt nhất của thế giới đến Việt Nam.
    .department__container 
        .department__list 
