section#departmentBanner.departmentBanner
    .department__main 
        .department__main--img 
    .department__content 
        .container__content 
            .container__content--text 
                h1 Make it Happen With Highlands