section.departmentDetail#departmentDetail
    .department__container 
        //- .department__detail 
        //-     .department__detail--row 
        //-         .department__detail--title 
        //-             h1 About The Team 
        //-         .department__detail--desc 
        //-             p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, adipisci! Dolorem, doloremque necessitatibus. Veniam, dolorem, delectus nostrum doloremque id quis iste sit in atque aliquam temporibus commodi. Porro, magni ad.
