section.footerHomePage#footerHomePage
    .container__footer 
        .logo 
            img(src="/src/img/logoFooter.png", alt="")
        .footer__heading 
            h1 Đồng hành cùng Highlands Careers trên
        .footer__links 
            .footer__links--icon 
                a(href="#")
                    <i class="bi bi-facebook"></i>
                a(href="#")
                    <i class="bi bi-tiktok"></i>
                a(href="#")
                    <i class="bi bi-linkedin"></i>
        .footer__desc 
            h1 © 2022 Highlands Coffee. All rights reserved.   