section.footer#footer 
    .container.footer__container
        .footer__socialFoot
            a(href="#")
                <i class="uil uil-facebook-f"></i>
            a(href="#")
                <i class="uil uil-youtube"></i>
            a(href="#")
                <i class="uil uil-instagram"></i>
        .footer__copyRight © 2018 Highlands Coffee. All rights reserved
        .footer__linkFooter
            a(href="#")
                <i class="uil uil-message"></i>
                span Đăng ký để nhận bản tin
        .footer__linkFooter 
            a(href="#")
                <i class="uil uil-envelope"></i>
                span customerservice@highlandscoffee.com.vn 