section.header#header 
    .container.header__container 
        nav
            .header__logo 
                a(href="/src/pages/index.html") 
                    img(src="/src/img/LOGO.png", alt="Highlands Coffee")
            .header__menu 
                .header__menu--top 
                    input(type="text", name="" placeholder="Từ Khóa")