section.headerHomePage#header 
    .container__headerHomePage
        .nav 
            .logo
                a(href="/src/pages/homePage.html") 
                    img(src="/src/img/Logo-HC-1024x780.png", alt="Trang chu")
            .menu__nav 
                .menu__nav--link 
                    a(href="/src/pages/homePage.html").activeHome Trang chủ
                    a(href="/src/pages/work_environment.html") Môi trường làm việc
                    a(href="/src/pages/department.html") Phòng ban
                    a(href="#") Việc làm
                .menu__nav--flag
                    .img-flag 
                        +flag("#","/src/img/vn.jpg","VI")
                    .img-flag 
                        +flag("#","/src/img/flag_en.jpg","EN")