section.headerHomePage#header 
    .container__headerHomePage
        .nav 
            .logo 
                img(src="/src/img/Logo-HC-1024x780.png", alt="Trang chu")
            .menu__nav 
                .menu__nav--link 
                    a(href="#").activeHome Trang chủ
                    a(href="#") Môi trường làm việc
                    a(href="#") Phòng ban
                    a(href="#") Việc làm
                .menu__nav--flag
                    .img-flag 
                        +flag("#","/src/img/vn.jpg","VI")
                    .img-flag 
                        +flag("#","/src/img/flag_en.jpg","EN")
        .headerHomePage__banner
            .bannerHome
                img(src="/src/img/banner3.png", alt="")
            .banner__search 
                .banner__search--heading 
                    h1 Tìm kiếm công việc
                .banner__search--find 
                    .find 
                        input(type="text" placeholder="Tìm công việc...")
                        <select class="form-select form-select-sm select1" aria-label=".form-select-sm example">
                            <option selected>Phòng Ban</option>
                            <option value="1">Retails - Stores Operations</option>
                            <option value="2">Store Design & Construction</option>
                            <option value="3">Marketing</option>
                            <option value="4">Expansion</option>
                            <option value="5">Finance & Accounting</option>
                            <option value="6">Franchise</option>
                            <option value="7">Human Resources</option>
                            <option value="8">New Store Opening/Audit/Admin</option>
                            <option value="9">Supply Chain</option>
                            <option value="10">Manufacturing</option>
                            <option value="11">Licensing & Compliance</option>
                            <option value="12">Quality Control</option>
                            <option value="13">Consumer Insight</option>
                            <option value="14">Training</option>
                            <option value="15">Product Innovation</option>
                        </select>
                        <select class="form-select form-select-sm select2" aria-label=".form-select-sm example">
                            <option selected>Location</option>
                            <option value="1">Hochiminh City</option>
                            <option value="2">Can Tho</option>
                            <option value="3">Kien Giang</option>
                            <option value="4">An Giang</option>
                            <option value="5">Dong Thap</option>
                            <option value="6">Ba Ria - Vung Tau</option>
                            <option value="7">Binh Duong</option>
                            <option value="8">Dong Nai</option>
                            <option value="9">Da Nang</option>
                            <option value="10">Ha Noi</option>
                        </select>
                    .btnHomePage
                        a(href="#") Tìm cơ hội