section.menucaphe#menucaphe 
    .container.menucaphe__container
        .menucaphe__heading 
            .menucaphe__heading--title 
                h1 Cà Phê
            .menucaphe__heading--desc 
                p Sự kết hợp hoàn hảo giữa hạt cà phê Robusta & Arabica thượng hạng được trồng trên những vùng cao nguyên Việt Nam màu mỡ, qua những bí quyết rang xay độc đáo, Highlands Coffee chúng tôi tự hào giới thiệu những dòng sản phẩm Cà phê mang hương vị đậm đà và tinh tế.
        .menucaphe__list
            +menucaphe('#','/src/img/caphe1.jpg','caphe','PhinDi Hạnh Nhân','45,000VND')
            +menucaphe('#','/src/img/caphe2.jpg','caphe','PhinDi Kem Sữa','45,000VND')
            +menucaphe('#','/src/img/caphe3.jpg','caphe','Bạc Xỉu Đá','23,000VND')
            +menucaphe('#','/src/img/caphe4.jpg','caphe','Caramel Macchiato','69,000VND')
            +menucaphe('#','/src/img/caphe5.jpg','caphe','Mocha Macchiato','69,000VND')
            +menucaphe('#','/src/img/caphe6.jpg','caphe','Latte','69,000VND')
            +menucaphe('#','/src/img/caphe7.jpg','caphe','Americano','69,000VND')
