section.menucaphe#menucaphe 
    .container.menucaphe__container
        .menucaphe__heading 
            .menucaphe__heading--title 
                h1 Cà Phê
            .menucaphe__heading--desc 
                p Sự kết hợp hoàn hảo giữa hạt cà phê Robusta & Arabica thượng hạng được trồng trên những vùng cao nguyên Việt Nam màu mỡ, qua những bí quyết rang xay độc đáo, Highlands Coffee chúng tôi tự hào giới thiệu những dòng sản phẩm Cà phê mang hương vị đậm đà và tinh tế.
        .menucaphe__list
            +menucaphe('#','/src/img/caphe1.jpg','caphe','PhinDi Hạnh Nhân','45,000VND')
            +menucaphe('#','/src/img/caphe2.jpg','caphe','PhinDi Kem Sữa','45,000VND')
            +menucaphe('#','/src/img/caphe3.jpg','caphe','Bạc Xỉu Đá','23,000VND')
            +menucaphe('#','/src/img/caphe4.jpg','caphe','Caramel Macchiato','69,000VND')
            +menucaphe('#','/src/img/caphe5.jpg','caphe','Mocha Macchiato','69,000VND')
            +menucaphe('#','/src/img/caphe6.jpg','caphe','Latte','69,000VND')
            +menucaphe('#','/src/img/caphe7.jpg','caphe','Americano','69,000VND')
        .menuOthers 
           +menuOthers('Trà','Hương vị tự nhiên, thơm ngon của Trà Việt với phong cách hiện đại tại Highlands Coffee sẽ giúp bạn gợi mở vị giác của bản thân và tận hưởng một cảm giác thật khoan khoái, tươi mới.')
        .menucaphe__list 
            +menucaphe('#','/src/img/tra1.jpg','tra','Trà Sen Vàng (Sen)','55,000VND')
            +menucaphe('#','/src/img/tra2.jpg','tra','Trà Ổi Hồng','55,000VND')
            +menucaphe('#','/src/img/tra3.jpg','tra','Trà Xanh Đậu Đỏ','55,000VND')
            +menucaphe('#','/src/img/tra4.png','tra','Trà Thạch Vải','45,000VND')
            +menucaphe('#','/src/img/tra5.jpg','tra','Trà Thạch Đào','55,000VND')
            +menucaphe('#','/src/img/tra6.jpg','tra','Trà Xoài Nhiệt Đới','55,000VND')
            +menucaphe('#','/src/img/tra7.jpg','tra','Trà Mơ Sơ Ri','55,000VND')
            +menucaphe('#','/src/img/tra8.jpg','tra','Trà Ổi Hồng','55,000VND')
            +menucaphe('#','/src/img/tra9.png','tra','Trà Xanh Đậu Đỏ','45,000VND')
        .menuOthers 
           +menuOthers('FREEZE','Hương vị tự nhiên, thơm ngon của Trà Việt với phong cách hiện đại tại Highlands Coffee sẽ giúp bạn gợi mở vị giác của bản thân và tận hưởng một cảm giác thật khoan khoái, tươi mới.')
        .menucaphe__list 
            +menucaphe('#','/src/img/f1.jpg','FREEZE','Classic Phin Freeze','55,000VND')
            +menucaphe('#','/src/img/f2.png','FREEZE','Freeze Trà Xanh','55,000VND')
            +menucaphe('#','/src/img/f3.jpg','FREEZE','Cookies & Cream','55,000VND')
            +menucaphe('#','/src/img/f4.jpg','FREEZE','Freeze Sô-cô-la','45,000VND')
            +menucaphe('#','/src/img/f5.jpg','FREEZE','Caramel Phin Freeze','55,000VND')
            +menucaphe('#','/src/img/f6.jpg','FREEZE','Classic Phin Freeze','55,000VND')
            +menucaphe('#','/src/img/f7.jpg','FREEZE','Freeze Sô-cô-la','55,000VND')
            +menucaphe('#','/src/img/f8.png','FREEZE','Caramel Phin Freeze','55,000VND')
            +menucaphe('#','/src/img/f9.jpg','FREEZE','Classic Phin Freeze','45,000VND')
        .menuOthers 
           +menuOthers('Khác','Sẽ càng ngon miệng hơn khi bạn kết hợp đồ uống với những chiếc bánh ngọt thơm ngon được làm thủ công hàng ngày ngay tại bếp bánh của Highlands Coffee, và cũng đừng quên sắm cho mình bộ bí kíp pha cà phê tại nhà gồm Phin inox, ly sứ Mosaic và cà phê gói Truyền thống mỗi khi có thời gian rảnh rỗi nhé.')
        .menucaphe__list 
            +menucaphe('#','/src/img/k1.jpg','Khac','Truyền thống 200gr','55,000VND')
            +menucaphe('#','/src/img/k2.jpg','Khac','Sành Điệu 200gr','55,000VND')
            +menucaphe('#','/src/img/k3.jpg','Khac','Moka 200gr','55,000VND')
            +menucaphe('#','/src/img/k5.jpg','Khac','Moka 200gr','45,000VND')
            +menucaphe('#','/src/img/k6.jpg','Khac','Di sản 200gr','55,000VND')
            +menucaphe('#','/src/img/k7.jpg','Khac','Culi 200gr','55,000VND')
            +menucaphe('#','/src/img/k8.jpg','Khac','Truyền Thống 1KG','55,000VND')
            +menucaphe('#','/src/img/k9.jpg','Khac','Truyền thống 200gr','55,000VND')

            