section.new__public#new__public 
    .container.new__public-container 
        +heading('Tin tức')
        .box__list 
            +box('#','/src/img/new2.jpg','news','#','VỊ COOL SẢNG KHOÁI, TRÀ DƯA HẤU VẢI','17/03/2023, 18:42')
            +box('#','/src/img/new1.png','news','#','MẠNH MẼ LÀM ĐIỀU MÌNH YÊU!','06/03/2023, 08:21')
            +box('#','/src/img/new3.jpg','news','#','HẸN YÊU TẠI HIGHLANDS - SAU VALENTINE VẪN CÒN CHỖ ĐỂ TA GẶP NHAU!','20/02/2023, 23:02')
            +box('#','/src/img/new4.jpg','news','#','APP NÀY LÀ CỦA CHÚNG MÌNH','10/01/2023, 00:00')
            +box('#','/src/img/new5.jpg','news','#','LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2023 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC','13/01/2023, 09:57')
            +box('#','/src/img/new5.png','news','#','ĐÓN TẾT NÀY THẬT KHÁC LẠ TẠI HIGHLANDS','28/12/2022, 20:24')
            +box('#','/src/img/new6.jpg','news','#','LỊCH HOẠT ĐỘNG HIGHLANDS COFFEE TẾT NGUYÊN ĐÁN 2023 - MIỀN NAM','13/01/2023, 10:34')
            +box('#','/src/img/new7.jpg','news','#','LỊCH HOẠT ĐỘNG HIGHLANDS COFFEE TẾT NGUYÊN ĐÁN 2023 - MIỀN BẮC','13/01/2023, 12:26')
            +box('#','/src/img/new8.jpg','news','#','LỊCH HOẠT ĐỘNG HIGHLANDS COFFEE TẾT NGUYÊN ĐÁN 2023 - MIỀN TRUNG','13/01/2023, 12:24')
            +box('#','/src/img/new9.jpg','news','#','BỎ TÚI THỜI GIAN BIỂU CỦA PHIÊN BẢN MỚI_HIGHLANDS COFFEE MOBILE APP','18/12/2022, 10:23')
            +box('#','/src/img/new10.jpg','news','#','HIGHLANDS COFFEE LÀ CỦA CHÚNG MÌNH!','22/11/2022, 18:13')
            +box('#','/src/img/new11.jpg','news','#','CHÚC MỪNG HIGHLANDS COFFEE 23 TUỔI','01/11/2022, 12:04')
            +box('#','/src/img/new12.jpg','news','#','TRÀ SEN VÀNG - Ô LONG THANH MÁT, SEN VÀNG NGỌT THƠM','08/10/2022, 16:30')
            +box('#','/src/img/new13.jpg','news','#','HÈ VUI PHƠI PHỚI CÙNG BỘ 3 TRÀ NHIỆT ĐỚI','01/07/2022, 14:45')
            +box('#','/src/img/new14.jpg','news','#','NOTICE OF PRICE ADJUSTMENT','27/06/2022, 10:19')
            +box('#','/src/img/new16.png','news','#','THÔNG BÁO ĐIỀU CHỈNH GIÁ','27/06/2022, 10:15')
            +box('#','/src/img/new17.png','news','#','“MỆT CỠ NÀO CŨNG MƯỢT” CÙNG PHIN SỮA ĐÁ TỪ HIGHLANDS COFFEE','07/04/2022, 17:07')
            +box('#','/src/img/new19.png','news','#','“ƯU ĐÃI KHI THANH TOÁN BẰNG MASTERCARD® CONTACTLESS TẠI HIGHLANDS COFFEE','23/03/2022, 13:14')
            +box('#','/src/img/new1=20.png','news','#','LỊCH HOẠT ĐỘNG TẾT NGUYÊN ĐÁN 2022 CỦA HIGHLANDS COFFEE TRÊN TOÀN QUỐC','26/01/2022, 15:15')
            +box('#','/src/img/new21.jpg','news','#','ĐIỀU KHOẢN VÀ ĐIỀU KIỆN ÁP DỤNG CỦA ỨNG DỤNG HIGHLANDS COFFEE','23/11/2021, 20:49')
            +box('#','/src/img/new22.png','news','#','HIGHLANDS CẬP NHẬT GIÁ BÁN THEO CHÍNH SÁCH THUẾ GTGT MỚI','01/11/2021, 11:44') 
        .load 
            #loading Xem thêm
            
            

