section.new__public#new__public 
    .container.new__public-container 
        +heading('Tin tức')
        .box__list 
            //- +box('#','/src/img/new2.jpg','news','#','VỊ COOL SẢNG KHOÁI, TRÀ DƯA HẤU VẢI','17/03/2023, 18:42')
        .load 
            #loading Xem thêm
            
            

