section.oderdetail#orderdetail 
    .container.orderdetail__container
        //- .oderdetail__heading 
        //-     h1 tra xanh
        //- .oderdetail__grip 
        //-     .oderdetail__row 
        //-         .oderdetail__img 
        //-             img(src="/src/img/tra1.jpg", alt="")
        //-         .oderdetail__content 
        //-             .oderdetail__content--text 
        //-                 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam reprehenderit voluptatibus eos placeat, illum quasi quam similique dolor minima, soluta asperiores est non inventore tempora ipsa! Eum, reiciendis dolor?
        //-             .oderdetail__content--btn
        //-                 a(href="#") Dat mua ngay 
        //-             .oderdetail__content--price 
        //-                 h1 Gia:
        //-                     span 69,000 VND