section.public#public 
    .container.public__container  
        +heading('Trách Nhiệm Cộng Đồng')
        .box__list
            +box('#','/src/img/p1.jpg','public','#','ĐÊM TRĂNG DIỆU KỲ CÙNG HIGHLANDS COFFEE','10/09/2022, 19:44')
            +box('#','/src/img/p2.jpg','public','#','MANG CHÚT YÊU THƯƠNG MÁT LÀNH ĐẾN MIỀN NINH THUẬN NHIỀU NẮNG GIÓ','21/08/2022, 19:36')
            +box('#','/src/img/p3.jpg','public','#','HIẾN MÁU NHÂN ĐẠO THƯỜNG NIÊN – TỰ HÀO DÒNG MÁU VIỆT','27/08/2022, 19:23')
            +box('#','/src/img/p4.jpg','public','#','TRAO TẶNG BÁNH – TRỌN THƯƠNG YÊU','08/08/2022, 14:21')
            +box('#','/src/img/p5.png','public','#','HIGHLANDS COFFEE CÙNG Ý TƯỞNG “LỒNG ĐÈN XANH” THẮP SÁNG "TRUNG THU XANH” CHO HƠN 700 EM NHỎ','13/09/2019, 15:59')
            +box('#','/src/img/p6.jpg','public','#','TRUNG THU YÊU THƯƠNG - LỚP HỌC CHO EM 2017','09/10/2017, 21:39')