section.strategic#strategic
    .container 
        .strategic__list 
           +strategic("/src/img/icon1.png","Tầm Nhìn","Trở thành thương hiệu cà phê và trà được yêu thích nhất tại Việt Nam và tự hào chia sẻ với thế giới.")
           +strategic("/src/img/icon2.png","Sứ Mệnh","Sứ mệnh của Highlands Coffee là đạt được ngôi vị quán quân về khẩu vị cà phê Việt Nam và phong cách quán cà phê hiện đại, với giá cả hợp lý, sẵn sàng phục vụ mọi lúc, mọi nơi, mọi khách hàng.")
           +strategic("/src/img/icon3.png","Giá Trị Cốt Lõi","Quan tâm khách hàngTinh thần đồng đội & hợp tác Tôn trọng & liêm chính Tự hào Việt  & chia sẻ đến cộng đồng Đam mê")
           