section.workBanner 
    .conatainer__workBanner 
        section 
            .work 
                .work__banner 
                    .work__banner--text 
                        h1 It's not work life or home life. It s all life.
        .work__content
            .work__content--row 
                .work__content--text 
                    .work__content--title 
                        h1 Đồng hành cùng chúng mình! Ứng tuyển ngay hôm nay
                    .work__content--desc 
                        p Làm việc tại Highlands mang đến nhiều trải nghiệm thú vị và tuyệt vời. Tham gia vào hành trình của chúng mình nhằm mang những điều tốt đẹp nhất của Việt Nam ra thế giới và đem những gì tốt nhất của thế giới đến Việt Nam.
                .work__content--img 
                    .work__content--img-child 
                        img(src="/src/img/work2.jpg", alt="")
                    .work__content--img-child 
                        img(src="/src/img/work3.jpg", alt="")
        section.work__list 
            +work__list('/src/img/w1.jpg')
            +work__list('/src/img/w2.jpg')
            +work__list('/src/img/w3.jpg')
            +work__list('/src/img/w4.jpg')
            +work__list('/src/img/w5.jpg')
            +work__list('/src/img/w6.jpg')
            +work__list('/src/img/w7.jpg')
            +work__list('/src/img/w8.jpg')
        section.work__welfare
            .work__welfare--banner 
                .work__welfare--title 
                    h1 Phúc lợi của chúng mìn
                .work__welfare--row 
                    .work__welfare--item 
                        h1 50%
                        h2 Giảm giá sản phẩm
                        img(src="/src/img/iconwork1.svg", alt="")
                    .work__welfare--item 
                        h1 Quà
                        h2 Nhiều quà lắm luôn!
                        img(src="/src/img/iconwork2.svg", alt="")
                    .work__welfare--item 
                        h1 Sự Nghiệp
                        h2 Cơ hội thăng tiến với lương thưởng hấp dẫn
                        img(src="/src/img/iconwork3.png", alt="")
                    .work__welfare--item 
                        h1 Ổn Định
                        h2 Ổn định & cân bằng cuộc sống
                        img(src="/src/img/iconwork4.png", alt="")
                    .work__welfare--item 
                        h1 Học Hỏi
                        h2 Yoga, Thiền & rất nhiều hoạt động
                        img(src="/src/img/iconwork5.png", alt="")
        section.work__news 